<kendo-chart style="width: 400px; height: 220px;">
  <kendo-chart-title
    text="Contributions per day"
    [margin]="{ left: 40 }"
  ></kendo-chart-title>

  <kendo-chart-series>
    <kendo-chart-series-item
      type="heatmap"
      color="#216e39"
      [data]="commitData"
      [labels]="{ visible: false }"
      [markers]="{ type: 'roundedRect', border: { width: 2 } }"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>

  <kendo-chart-x-axis>
    <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
  </kendo-chart-x-axis>

  <kendo-chart-y-axis>
    <kendo-chart-y-axis-item
      [reverse]="true"
      [line]="{ visible: false }"
      [labels]="{ content: yAxisLabelContent }"
    >
    </kendo-chart-y-axis-item>
  </kendo-chart-y-axis>
</kendo-chart>
