<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 example-col">
    <p>Kendo UI font icon</p>
    <button kendoButton icon="calendar">Events</button>
    <button kendoButton icon="calendar" title="Events"></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 example-col">
    <p>FontAwsome icon</p>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <button kendoButton iconClass="fa fa-calendar fa-fw">Events</button>
    <button
      kendoButton
      iconClass="fa fa-calendar fa-fw"
      title="Events"
    ></button>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 example-col">
    <p>Image icon</p>
    <button
      kendoButton
      imageUrl="https://demos.telerik.com/kendo-ui/content/shared/icons/sports/snowboarding.png"
    >
      Snowboarding
    </button>
    <button
      kendoButton
      imageUrl="https://demos.telerik.com/kendo-ui/content/shared/icons/sports/snowboarding.png"
      title="Snowboarding"
    ></button>
  </div>
</div>
