<div class="row">
  <div class="col-xs-12 col-sm-6 example-col">
    <p>Single selection mode</p>
    <kendo-buttongroup selection="single">
      <button
        kendoButton
        [toggleable]="true"
        icon="align-left"
        title="Align-left"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="align-center"
        title="Align-center"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="align-right"
        title="Align-right"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="align-justify"
        title="Align-justify"
      ></button>
    </kendo-buttongroup>
  </div>
  <div class="col-xs-12 col-sm-6 example-col">
    <p>Multiple selection mode</p>
    <kendo-buttongroup>
      <button
        kendoButton
        [toggleable]="true"
        icon="bold"
        title="Bold"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="italic"
        title="Italic"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="underline"
        title="Underline"
      ></button>
    </kendo-buttongroup>
  </div>
</div>
