<div class="container mb-5 justify-content-evenly">
  <div>
    <h1>Toolbar Tools</h1>
    <app-toolbartools></app-toolbartools>
  </div>
  <div class="text-center">
    <h1>Form Support</h1>
    <app-formsupport></app-formsupport>
  </div>
  <div class="text-center">
    <h1>PM Schema</h1>
    <app-pm-schema></app-pm-schema>
  </div>
  <!-- <div class="text-center">
    <h1>PM Plugins</h1>
    <app-pm-plugins></app-pm-plugins>
  </div> -->
  <div class="text-center">
    <h1>Responsive Tools</h1>
    <app-responsivetoolbar></app-responsivetoolbar>
  </div>
  <div class="text-center">
    <h1>Selection Text</h1>
    <app-selectiontext></app-selectiontext>
  </div>

</div>
