<div class="row">
  <div class="col-sm-12 col-md-4 example-col">
    <p>Icons only</p>
    <kendo-buttongroup>
      <button
        kendoButton
        [toggleable]="true"
        icon="bold"
        title="Bold"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="italic"
        title="Italic"
      ></button>
      <button
        kendoButton
        [toggleable]="true"
        icon="underline"
        title="Underline"
      ></button>
    </kendo-buttongroup>
  </div>
  <div class="col-sm-12 col-md-4 example-col">
    <p>Text only</p>
    <kendo-buttongroup>
      <button kendoButton [toggleable]="true">Bold</button>
      <button kendoButton [toggleable]="true">Italic</button>
      <button kendoButton [toggleable]="true">Underline</button>
    </kendo-buttongroup>
  </div>
  <div class="col-sm-12 col-md-4 example-col">
    <p>Icons + Text</p>
    <kendo-buttongroup>
      <button kendoButton [toggleable]="true" icon="bold">Bold</button>
      <button kendoButton [toggleable]="true" icon="italic">Italic</button>
      <button kendoButton [toggleable]="true" icon="underline">
        Underline
      </button>
    </kendo-buttongroup>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 example-col">
    <p>Buttons with responsive width</p>
    <kendo-buttongroup width="100%">
      <button kendoButton [toggleable]="true" icon="bold">Bold</button>
      <button kendoButton [toggleable]="true" icon="italic">Italic</button>
      <button kendoButton [toggleable]="true" icon="underline">
        Underline
      </button>
    </kendo-buttongroup>
  </div>
</div>
