<div class="container mb-2">
  <div class="container">
    <h1>area</h1>
  <app-area-s></app-area-s>
  </div>
  <div class="container">
    <h1>bar</h1>
  <app-bar-s></app-bar-s>
  </div>
  <div class="container">
    <h1>box-plot</h1>
  <app-box-plot-s></app-box-plot-s>
  </div>
  <div class="container">
    <h1>bubble</h1>
  <app-bubble-s></app-bubble-s>
  </div>
  <div class="container">
    <h1>bullet</h1>
  <app-bullet-s></app-bullet-s>
  </div>
  <div class="container">
    <h1>donut</h1>
  <app-donut-s></app-donut-s>
  </div>
</div>
