<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Solid Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()">Browse</button>
      <button kendoButton (click)="onButtonClick()" icon="folder">
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        title="Browse"
      ></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Flat Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" fillMode="flat">
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="flat"
      >
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="flat"
        title="Browse"
      ></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Outline Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" fillMode="outline">
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="outline"
      >
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="outline"
        title="Browse"
      ></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Clear Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" fillMode="clear">
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="clear"
      >
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="clear"
        title="Browse"
      ></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Link Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" fillMode="link">
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="link"
      >
        Browse
      </button>
      <button
        kendoButton
        (click)="onButtonClick()"
        icon="folder"
        fillMode="link"
        title="Browse"
      ></button>
    </p>
  </div>
</div>
<br><br><br>
<h1>İcon buttons</h1>
<app-icon-button></app-icon-button>

<br><br><br>
<h1>event buttons</h1>
<app-event-button></app-event-button>
