<div class="container mb-5">
  <div class="text-center">
    <h1>Autocomplete</h1>
    <app-autocomplete></app-autocomplete>
  </div>
  <div class="text-center">
    <h1>Combo Box</h1>
    <app-combobox></app-combobox>
  </div>
  <div class="text-center">
    <h1>Dropdown List</h1>
    <app-dropdownslist></app-dropdownslist>
  </div>
  <div class="text-center">
    <h1>Dropdown Tree</h1>
    <app-dropdowntree></app-dropdowntree>
  </div>
  <div class="text-center">
    <h1>Multicolumn Combo Box</h1>
    <app-multicolumncombobox></app-multicolumncombobox>
  </div>
  <div class="text-center">
    <h1>Multiselect</h1>
    <app-multiselect></app-multiselect>
  </div>
  <div class="text-center">
    <h1>Multiselect Tree</h1>
    <app-multiselecttree></app-multiselecttree>
  </div>
</div>
