<kendo-chart>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [categories]="['A', 'B', 'C']">
      <kendo-chart-category-axis-item-crosshair>
        <kendo-chart-category-axis-item-crosshair-tooltip>
        </kendo-chart-category-axis-item-crosshair-tooltip>
      </kendo-chart-category-axis-item-crosshair>
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [crosshair]="crosshair">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
  <kendo-chart-series>
    <kendo-chart-series-item [data]="[1, 2, 3]"> </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
